<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Snom_Remote_Control.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Snom_Remote_Control.Properties.Settings>
            <setting name="PhoneIP" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="LoginEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KBCWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KBCWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KBCWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KBCWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoSwitchOutput" serializeAs="String">
                <value>2</value>
            </setting>
        </Snom_Remote_Control.Properties.Settings>
    </userSettings>
</configuration>